/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public

# UI
/ui/.DS_Store
/ui/.thumbs.db
/ui/node_modules

# Quasar core related directories
/ui/.quasar
/ui//dist

# Cordova related directories and files
/ui/src-cordova/node_modules
/ui/src-cordova/platforms
/ui/src-cordova/plugins
/ui/src-cordova/www

# Capacitor related directories and files
/ui/src-capacitor/www
/ui/src-capacitor/node_modules

# BEX related directories and files
/ui/src-bex/www
/ui/src-bex/js/core

# Log files
/ui/npm-debug.log*
/ui/yarn-debug.log*
/ui/yarn-error.log*

# Editor directories and files
/ui/idea
/ui/*.suo
/ui/*.ntvs*
/ui/*.njsproj
/ui/*.sln
