// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$mcolor: rgb(236, 187, 23) 0%;
$mcolor2: rgb(243, 213, 107) 26%;
$mcolor3: rgb(244, 229, 119) 41%;
$mcolor4: rgb(250, 253, 176) 100%;
